/* Your Css for Resource */

html, body{
	background: #f2f0eb;
}

/* typography */

h1{
	font-family: Verdana, Georgia, serif;
	color: #444;
	font-size: 22px;
	text-align: center;
	font-weight: normal;
}

h2{
	text-align: center;
	margin: 18px 0;
}


.stripe{
	font-family: Georgia, serif;
	font-style: italic;
	text-align: center;
	color: #888;
	padding-left: 0px;
	padding-right: 0px;
}

ul.description li{
	font-family: Georgia, serif;
	text-align: center;
	color: black;
	font-size: 15px;
}

.button{
	text-align: center;
}

.button a{
	color: #252525;
	text-decoration: none;
	font-family: Verdana, Georgia, serif;
	font-style: italic;
	font-size: 14px;	
}

/* structure */

#container{
	width: 220px;
	margin: 150px auto;
}

.table{
	width: 130px;
	background: #fdfcfa;
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding-top: 44px;
	float: left;
}

.table h1 {
	font-size: 15px;
}

.yes {
	background-image: url(yes.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.no {
	background-image: url(no.png);
	background-repeat: no-repeat;
	background-position: center center;

}

.benefits {
	width: 132px;
	background: #fdfcfa;
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding-top: 30px;
	float: left;
	padding-left: 25px;
	padding-right: 25px;
}

.table:hover{
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
  	-o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	box-shadow:inset 5px 5px 0 #f6f5f1, inset -5px -5px 0 #f6f5f1;
}

.benefits:hover{
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
  	-o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
	box-shadow:inset 5px 5px 0 #f6f5f1, inset -5px -5px 0 #f6f5f1;
}

.stripe{
	background: rgba(251,250,248, .3);
	border-top: 1px solid #dedddc;
	border-bottom: 1px solid #dedddc;
	padding: 10px 0;
	margin: 18px 0;	
}

ul.description{
	margin: 0;
	list-style: none;
	margin: 0 auto;
	border-top: 1px solid #dedddc;
	margin-bottom: 18px;
	padding-left: 0px;
}

ul.description li{
	padding: 10px 0;
	border-bottom: 1px solid #dedddc;
}

.button{
	background: rgba(248, 249, 246, .3);
	padding: 40px 0;
}

.button a{
	border-radius: 25px;
	border: 1px solid #91a9c1;
	background-color: #4a5b6b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4a5b6b), to(#91a9c1));
	background-image: -webkit-linear-gradient(top, #4a5b6b, #91a9c1);
	background-image:    -moz-linear-gradient(top, #4a5b6b, #91a9c1);
	background-image:     -ms-linear-gradient(top, #4a5b6b, #91a9c1);
	background-image:      -o-linear-gradient(top, #4a5b6b, #91a9c1);
	background-image:         linear-gradient(top, #4a5b6b, #91a9c1);
	padding: 13px 30px;
}

.button a:active{
	background-color: #91a9c1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#91a9c1), to(#4a5b6b));
	background-image: -webkit-linear-gradient(top, #91a9c1, #4a5b6b);
	background-image:    -moz-linear-gradient(top, #91a9c1, #4a5b6b);
	background-image:     -ms-linear-gradient(top, #91a9c1, #4a5b6b);
	background-image:      -o-linear-gradient(top, #91a9c1, #4a5b6b);
	background-image:         linear-gradient(top, #91a9c1, #4a5b6b);
}

.button a:hover{
	background-color: #91a9c1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#91a9c1), to(#4a5b6b));
	background-image: -webkit-linear-gradient(top, #91a9c1, #4a5b6b);
	background-image:    -moz-linear-gradient(top, #91a9c1, #4a5b6b);
	background-image:     -ms-linear-gradient(top, #91a9c1, #4a5b6b);
	background-image:      -o-linear-gradient(top, #91a9c1, #4a5b6b);
	background-image:         linear-gradient(top, #91a9c1, #4a5b6b);
}